{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Hard game - лидирующий магазин по продажи игр и игровой атрибутики.</p>
<p>Мы – крупнейшая розничная сеть  магазинов в России, www.hardgame.ru - интернет-магазин №1 по популярности в данном сегменте в Рунете.</p>
<p>Благодаря сотрудничеству с крупными игровыми издателями, на нашей платформе анонсы игровых релизов выходят раньше всех.</p>
<p>Hard game - это не только магазин это целый мир для людей любящих игры и их лор.</p>

{% endblock %}
