{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
	<p>
		<a href ="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%B8%D0%B3%D1%80%D0%B0" target="_blank"> <img src="{% static 'app/content/wiki_logo.png' %}" alt="Логотип"/></a>
		Статья "Компютерные игры" на вебсайте Wikipedia
	</p>

	<p>
		<a href ="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D1%80#:~:text=%D0%9B%D0%BE%D1%80%20(%D0%B0%D0%BD%D0%B3%D0%BB.,%C2%ABWarhammer%2040000%C2%BB%20%D0%B8%20%D1%82." target="_blank"> <img src="{% static 'app/content/wiki_logo.png' %}" alt="Логотип"/></a>
		Статья "Игровой лор" на вебсайте Wikipedia
	</p>

	<p>
		<a href ="https://ru.wikipedia.org/wiki/%D0%98%D0%B7%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C_%D0%BA%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D1%8B%D1%85_%D0%B8%D0%B3%D1%80" target="_blank"> <img src="{% static 'app/content/wiki_logo.png' %}" alt="Логотип"/></a>
		Статья "Игровой издатель" на вебсайте Wikipedia
	</p>
	</body>
</html>
